{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_preloader.html'%}
{% include 'partials/_buscar.html' %}
{% include 'partials/_header.html' %}

<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Criar conta</h2>
                </div>
            </div>
        </div>
        {% include 'partials/_alertas.html' %}
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'cadastro' %}"  method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label for="nome"><b>Nome</b></label>
                                <input type="text" class="form-control" name="nome" placeholder="Insira seu primeiro nome" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="sobrenome"><b>Sobrenome</b></label>
                                <input type="text" class="form-control" name="sobrenome" placeholder="Insira seu sobrenome" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="email"><b>Email</b></label>
                                <input type="text" class="form-control" name="email" placeholder="Ex.: seu@email.com" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="telefone"><b>Telefone</b></label>
                                <input type="text" class="form-control" name="telefone" placeholder="Somente números">
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="cpf"><b>CPF</b></label>
                                <input type="text" class="form-control" name="cpf" placeholder="Digite apenas número" required>
                            </div>
                            <div class="col-12 col-lg-6">
                            <label for="sexo"><b>Sexo</b></label>
                                <select name="sexo" id="sexo">
                                  <option value="Masculino" {% if user.aluno.sexo. == 'Masculino' %}selected{% endif %}>Masculino</option>
                                  <option value="Feminino" {% if user.aluno.sexo == 'Feminino' %}selected{% endif %}>Feminino</option>
                                  <option value="Outro" {% if user.aluno.sexo == 'Outro' %}selected{% endif %}>Outro</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="data_nascimento"><b>Data de Nascimento</b></label>
                                <input type="date" class="form-control" name="data_nascimento" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="senha"><b>Senha</b></label>
                                <input type="password" class="form-control" name="senha" placeholder="Digite sua senha" required>
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="senha2"><b>Confirmação de senha</b></label>
                                <input type="password" class="form-control" name="senha2" placeholder="Digite sua senha mais uma vez" required>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-success" type="submit">Criar sua conta</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 
{% include 'partials/_footer.html' %}
{% endblock %}
